@import url('https://fonts.googleapis.com/css2?family=Playfair+Display');

@font-face {
    font-family: combrida;
    src: url('font.ttf');
}

@font-face {
	src: url(Inconsolata.otf);
	font-family: "Inconsolata";
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: #FFF5FD;
}

.blog-post-main {
    width: 100%;
    margin-top: 100px;
    padding-left: 30px;
}

.blog-post-main-title {
    font-family: combrida;
    font-size: 4.5rem;
    color: #548CA8;
}

.blog-posts {
    margin-left: 200px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
}

.blog-single-post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.blog-single-post-marker {
    width: 10px;
    position: relative;
    top: 0px;
    height: 100px;
}

.blog-single-post-marker .circle {
    border: 1px solid #bb8bb1;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    position: absolute;
}

.blog-single-post-marker .line {
    height: calc(100% - 20px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    background-color: #bb8bb1;
}

.blog-single-post-main {
    width: calc(100% - 40px);
}


.blog-single-post-main-title a {
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
    color: #022E57;
}

.blog-single-post-main-subtitle {
    margin-top: 5px;
    font-family: "Inconsolata";
    font-size: 1.2rem;
    color: #005A8D;
}

.additional_info {
    margin-top: 15px;
    font-family: "Inconsolata";
    font-size: 1rem;
    color: #548CA8;
}

@media only screen and (max-width: 800px) {
    .blog-posts {
        margin-left: 0px;
        margin-top: 30px;
    }
}