@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Xanh+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
*{
margin: 0;
padding: 0;
}

 body {
	 background: #E7D7C1;
}

.bucket_list {
margin-top: 70px;
margin-left: 40px;
}

.bucket_list h1{
font-size: 1.8rem;
color: #484D6D;
font-family: 'Xanh Mono', monospace;
}

.bucket_list p{
font-size: 1.5rem;
margin-top: 3px;
color: #00A6A6;
font-family: 'EB Garamond', serif;
}

/*Progressbar*/
.progress_bar
{
display: flex;
justify-content: center;
}

 article {
	 width: 35em;
         margin-bottom: 20px;
}
.show_percentage {
position: relative;
left: 0%;
font-size: 1.3rem;
font-family: 'Montserrat', sans-serif;
font-weight: bolder;
top: 15px;
color: #B33C86;
}


 .progress_main {
	 font-size: 1em;
	 perspective: 1000px;
	 perspective-origin: 50% 50%;
	 backface-visibility: visible;
}
 .bar {
	 font-size: 1em;
	 position: relative;
	 height: 5em;
	 transition: all 0.3s ease-in-out;
	 transform: rotateX(60deg) rotateY(0deg);
	 transform-style: preserve-3d;
}
 .bar .face {
	 font-size: 2em;
	 position: relative;
	 width: 100%;
	 height: 1em;
	 background-color: rgba(254, 254, 254, .3);
}
 .bar .face.side-a, .bar .face.side-b {
	 width: 1em;
}
 .bar .side-a {
	 transform: rotateX(90deg) rotateY(-90deg) translateX(1em) translateY(0.5em) translateZ(0.5em);
}
 .bar .side-b {
	 transform: rotateX(90deg) rotateY(-90deg) translateX(2em) translateY(0.5em) translateZ(-0.5em);
	 position: absolute;
	 right: 0;
}
 .bar .side-0 {
	 transform: rotateX(90deg) rotateY(0) translateX(0) translateY(0.5em) translateZ(-0.5em);
}
 .bar .side-1 {
	 transform: rotateX(90deg) rotateY(0) translateX(0) translateY(0.5em) translateZ(1.5em);
}
 .bar .top {
	 transform: rotateX(0deg) rotateY(0) translateX(0em) translateY(2em) translateZ(1em);
}
 .bar .floor {
	 box-shadow: 0 0.1em 0.6em rgba(0, 0, 0, .3), 0.6em -0.5em 3em rgba(0, 0, 0, .3), 1em -1em 8em #fefefe;
}
 .bar .growing-bar {
	 width: 0%;
}
 .growing-bar {
	 background-color: rgba(255, 89, 100, .6);
	 height: 1em;
}
 .bar .side-a, .bar .growing-bar {
	 background-color: rgba(255, 89, 100, .6);
}
 .bar.side-0 .growing-bar {
	 box-shadow: -0.5em -1.5em 4em rgba(255, 89, 100, .8);
}
 .bar .floor .growing-bar {
	 box-shadow: 0em 0em 2em rgba(255, 89, 100, .8);
}

/*Progressbar ends Here*/

.list_div
{
margin-left: 40px;
margin-bottom: 50px;
}

.list_div h3{
color: #8F2D56;
font-family: 'Lora', serif;
font-size: 1.4rem;
}

.list_div ul
{
margin-left: 35px;
font-size: 1.15rem;
font-family: 'Montserrat', sans-serif;
color: #DE6E4B;
margin-top: 6px;
}


.list_div li{
margin-top: 1px;
margin-bottom: 1px;
}

.completed_items li{
text-decoration: line-through;}
