@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap'); 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #FFF5FD;
  text-align: center;
}

div {
  text-align: center;
}

svg {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
}

#linkedin:hover,
#github:hover,
#facebook:hover,
#email:hover,
#twitter:hover {
  cursor: pointer;
}

.text_box {
  height: 19%;
  width: 22%;
  position: absolute;
  bottom: 60%;
  left: 66.5%;
  transform: translate(-66.5%, 60%);
  display: flex;
  align-items: center;
  align-content: center;

}

.text_box p {
  font-family: 'IBM Plex Sans', cursive;
  font-size: 16px;
  padding: 0.2rem;
  color: rgb(170, 130, 81);
  text-align: left;
}