@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background-color: #14274e;
overflow-x: hidden;
}
@font-face{
font-family: hacked;
src: url(Hacked.ttf);
}

@font-face{
font-family: autography;
src: url(Autography.otf);
}

#line{
background-color: #14274e;
overflow: hidden; 
}

.introduction{
color: #e8e8e8;
position: absolute;
top: 90px;
left: 30px;
font-size: 1.3rem;
font-family: hacked;
}

.introduction p{
margin: 4px;
}

.glitch-wrapper-hidden {
visibility: visible;
}


.glitch-wrapper {
	height: 100%;
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
  font-family: 'Archivo Black', sans-serif;
}

.glitch {
	color: white;
	font-size: 150px;
	text-transform: upercase;
        position: absolute;
        top: 50%;
        transform: translate(-50%,-50%);
text-align: center;
}


.glitch-before {
	left: 2px;
	text-shadow: -2px 0 #49FC00;
	clip: none;
}

.glitch-after {
	left: -2px;
	text-shadow: -2px 0 #b300fc;
	clip: none;
}


#notes{

position: fixed;
top: 100vh;
}

#canvas {
background: #eee;
}
.main_container {
position: absolute;
top: 100vh;
margin-top: 40px;
margin-bottom: 40px; 
text-align: center;
width: 100%;
}

.notes-container {
position: relative;
width: 90%;
text-align:center;
display: inline-block;
    border: 3px solid #333333;
border-radius: 2% 6% 5% 4% / 1% 1% 2% 4%;
padding: 5px 25px;
margin-bottom: 20px;
margin-top: 20px;
font-family: autography;
font-size: 3rem;
}


.notes-container::before {
        content: '';
        border: 2px solid #353535;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(1.015) rotate(0.5deg);
        border-radius: 1% 1% 2% 4% / 2% 6% 5% 4%;
    }
