@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
@font-face{
font-family: 'special';
src: url('James Fajardo.ttf');
}
@font-face{
font-family: 'tormentor';
src: url('Tormentor-Regular.ttf');
}
/*Web Browser Theme*/

.web-development-main{
margin-top: 100px;
width: 100%;
background: #d6b0b1;
border-top-left-radius: 700px;
border-top-right-radius: 700px;
position: relative;
padding-bottom: 50px;
left: 0;
}


.web-dev-main-video{
width:300px;
position: relative;
left: 50%;
transform: translateX(-50%);
top: -90px;
}

.web-dev-main-video video{
width: 100%;
border-radius: 40px;
}
.web-project-title{
text-align: center;
font-family: 'tormentor';
font-size: 10vw;
color: #8b5e83;
}

.web-project-des{
padding-top: 10px;
text-align: center;
font-family: 'Ubuntu';
font-size: 1.3rem;
color: #8b5e83;
opacity: 0.8;
line-height: 1.8rem;
}

.web-project-single{
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
margin-top: 100px;
}

.web-project-title-circle{
padding-top: 40px;
padding-bottom:40px;
padding-left: 80px;
padding-right: 80px;
}

.web-project-title-circle-main{
width: 250px;
height: 250px;
border-radius: 125px;
background: white;
display: flex;
justify-content: center;
align-items: center;
}

.web-project-title-circle-main-title{
color: #8b5e83;
text-align: center;
font-size: 6rem;
line-height: 4rem;
animation: rotatetitle 2s infinite;
font-family: 'special';
}

@keyframes rotatetitle{
0%{transform: rotate(30deg);}
50%{transform: rotate(-30deg)}
100%{transform: rotate(30deg);}
}
.home-web-browser-theme{
font-family: 'Ubuntu', sans-serif;
width: 702.41px;
border: 3px #222 solid;
border-radius: 5px;
}

.home-web-browser-title{
display: flex;
justify-content: space-between;
align-items: center;
height: 30px;
}

.home-web-title-tab{
background: #444;
margin-left: 6px;
border-top-left-radius: 5px;
border-top-right-radius: 5px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 7px;
padding-top: 3px;
}

.browser-window-logo{
width: 13px;
margin-right: 5px;
}

.home-web-address-bar{
width: 65%;
padding-left: 15px;
padding-top: 2px;
padding-bottom: 1px;
background: #222;
border-radius: 7px;
font-size: 0.91rem;
color: #888;
}

.home-web-address-bar:hover{
background: #666;
}

.home-web-address-bar-link{
text-decoration: none;
color: #888;
}

.home-web-address-bar:hover .home-web-address-bar-link{
color: white;
text-decoration: none;
}

.home-web-classname{
font-size: 0.9rem;
margin-left: 10px;
margin-right: 10px;
text-decoration: none;
color: white;
margin-top: 3px;
margin-bottom: 3px;
}

.home-web-main-body{
padding: 0;
height: 380px;
background: white;
overflow: hidden;
overflow-y: scroll;
}

.home-web-main-body {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
.home-web-main-body::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

.home-web-main-body img{
width: 100%;
}
.home-web-main-body iframe{
width: 100%;
height: 100%;
outline: none;
border: none;
}
