/* @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200&display=swap'); */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
	src: url(Inconsolata.otf);
	font-family: "Inconsolata";
}

@font-face {
	src: url(FrederickatheGreat-Regular.ttf);
	font-family: "FrederickatheGreat";
}

/*Research Navigation*/
.navigation {
	position: fixed;
	width: 70px;
	background: #005A8D;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: width 1.5s;
}

.navigation_enlarge {
	width: 250px;
}

.nav_control {
	position: relative;
	top: 0px;
	width: 40px;
	right: 15px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: 0;
	background: #548CA8;
	padding-left: 12.5px;
	padding-right: 12.5px;
	padding-top: 14px;
	padding-bottom: 14px;
	height: 40px;
	cursor: pointer;
}

.nav_control_bar {
	background: #FFF5FD;
	height: 2px;
	width: 15px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.nav_item_main {
	position: relative;
	top: 0px;
	right: 0px;
	margin-top: 30px;
	margin-left: auto;
	margin-right: 0;
	padding-right: 20px;
	overflow-x: hidden;
}

.nav_item_list {
	opacity: 0;
	list-style-type: none;
}

.nav_item_list_after {
	opacity: 1;
	transition: opacity 1.5s;
}

.nav_item {
	text-align: right;
	margin: auto;
	margin-top: 20px;
	max-width: 210px;
}

.nav_item a {
	text-decoration: none;
	color: #FFF5FD;
	font-family: 'IBM Plex Sans', 'Inconsolata';
	font-size: 1.3rem;
}

/*Research Navigation Ends Here*/
.homepage {
	text-align: center;
	margin-left: 70px;
	width: calc(100% - 70px);
	background: #FFF5FD;
	min-height: 100vh;
}

.section {
	width: 99%;
	max-width: 900px;
	margin: auto;
	padding-top: 25px;
	padding-bottom: 25px;
}

.title-part {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 30px;
	font-size: 1.8rem;
	font-family: "FrederickatheGreat";
	background: #022E57;
	color: #FFF5FD;
}

.text-part {
	position: relative;
	top: -20px;
	width: 95%;
	margin: auto;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: left;
	padding-bottom: 10px;
	font-size: 1rem;
	font-family: "Inconsolata";
	background: white;
	color: #022E57;
}

.timeline {
	margin: 40px auto;
	/* 	padding: 10px 40px; */
	padding-left: 40px;
	border-left: 4px solid #548CA8;
	list-style: none;
	text-align: left;
	width: calc(100% - 132px);
	max-width: 500px;
	position: relative
}

.event {
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
}

.event:before,
.event:after {
	position: absolute;
	display: block;
	top: 0;
}

.event:before {
	opacity: 0.75;
	text-align: right;
	width: 120px;
	font-size: 0.9rem;
	left: -190px;
	content: attr(data-date);
}

.event:after {
	opacity: 1;
	left: -52px;
	content: attr(data-icon);
}

.ed-degree {
	font-weight: bold;
}

.home-link {
	text-decoration: none;
	opacity: 0.8;
}


@media screen and (max-width: 768px) {
	.navigation {
		width: 0px;
		z-index: 1000;
	}

	.navigation_enlarge {
		width: 90%;
	}

	.homepage {
		width: 100%;
		margin-left: 0px;
	}

	.nav_control {
		right: -10px;
	}
}


/*Container Part*/
.container-main {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 1rem;
	/* margin: 2rem 5vw; */
	padding: 0;
	list-style-type: none;
}

.container-items {
	position: relative;
	display: block;
	height: auto;
	overflow: hidden;
	text-decoration: none;
}

.container-items img {
	width: 100%;
	height: auto;
}


.card__overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
	transform: translateY(100%);
	transition: .2s ease-in-out;
	background: #005A8D;
	color: #FFF5FD;
}

.container-items:hover .card__overlay {
	transform: translateY(0);
}

.card__header {
	position: relative;
	display: flex;
	align-items: center;
	gap: 2em;
	padding: 5px;
	transform: translateY(-100%);
	transition: .2s ease-in-out;
	background: #005A8D;
}



.container-items:hover .card__header {
	transform: translateY(0);
}


.card__title {
	font-size: 1em;
	color: #FFF5FD;
}



.card__status {
	font-size: .9em;
	color: #FFF5FD;
}

.card__description {
	padding: 7px;
	margin: 0;
	background: #005A8D;
	color: #FFF5FD;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}

/*Publication Elements*/
.pub-box {
	padding: 10px;
	margin: 5px;
	background-color: rgba(234,230,240, 0.5);
}